body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #4284df !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4284df !important;
  border-color: #4284df !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-primary:before {
  background-color: #1f5eb6 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1f5eb6 !important;
  border-color: #1f5eb6 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-secondary:before {
  background-color: #eb3934 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-info:before {
  background-color: #4a2469 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-success:before {
  background-color: #693cbc !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1b53a0;
  color: #1b53a0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #4284df;
}
.btn-primary-outline:before {
  background-color: #4284df;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4284df;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #4284df !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1b53a0 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4284df;
  border-color: #4284df;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4284df;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f0f6fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #4284df;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4284df;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4284df;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4284df;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4284df;
  border-bottom-color: #4284df;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4284df !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f27d7a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234284df' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-spTwnldax0 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-spTwnldax0 .nav-item:focus,
.cid-spTwnldax0 .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-spTwnldax0 .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-spTwnldax0 .nav-item {
    position: relative;
  }
  .cid-spTwnldax0 .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #4284df, #f27d7a);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-spTwnldax0 .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-spTwnldax0 .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-spTwnldax0 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-spTwnldax0 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-spTwnldax0 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-spTwnldax0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-spTwnldax0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-spTwnldax0 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-spTwnldax0 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-spTwnldax0 .navbar {
  min-height: 77px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  background: none;
}
.cid-spTwnldax0 .navbar .mbr-overlay {
  z-index: -1;
  transition: all .3s;
  background: #ffffff;
}
.cid-spTwnldax0 .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-spTwnldax0 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-spTwnldax0 .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  padding: .5rem 1rem;
}
@media (max-width: 991px) {
  .cid-spTwnldax0 .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-spTwnldax0 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-spTwnldax0 .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-spTwnldax0 .navbar.collapsed .navbar-collapse.show,
.cid-spTwnldax0 .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-spTwnldax0 .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-spTwnldax0 .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-spTwnldax0 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-spTwnldax0 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-spTwnldax0 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-spTwnldax0 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-spTwnldax0 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-spTwnldax0 .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-spTwnldax0 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-spTwnldax0 .navbar.collapsed .right-menu,
.cid-spTwnldax0 .navbar.collapsed .left-menu {
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .cid-spTwnldax0 .navbar .navbar-collapse.show,
  .cid-spTwnldax0 .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-spTwnldax0 .navbar .navbar-collapse.show .brand-container,
  .cid-spTwnldax0 .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-spTwnldax0 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-spTwnldax0 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-spTwnldax0 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-spTwnldax0 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-spTwnldax0 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-spTwnldax0 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-spTwnldax0 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-spTwnldax0 .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-spTwnldax0 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-spTwnldax0 .navbar .right-menu,
  .cid-spTwnldax0 .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-spTwnldax0 .navbar.navbar-short {
  min-height: 60px;
}
.cid-spTwnldax0 .navbar.navbar-short .mbr-overlay {
  background: #ffffff !important;
}
.cid-spTwnldax0 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-spTwnldax0 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-spTwnldax0 .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-spTwnldax0 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-spTwnldax0 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-spTwnldax0 .dropdown-item.active,
.cid-spTwnldax0 .dropdown-item:active {
  background-color: transparent;
}
.cid-spTwnldax0 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-spTwnldax0 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-spTwnldax0 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-spTwnldax0 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-spTwnldax0 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-spTwnldax0 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-spTwnldax0 ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-spTwnldax0 ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-spTwnldax0 .navbar-buttons {
  margin-left: auto;
}
.cid-spTwnldax0 button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-spTwnldax0 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-spTwnldax0 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-spTwnldax0 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-spTwnldax0 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-spTwnldax0 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-spTwnldax0 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-spTwnldax0 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-spTwnldax0 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-spTwnldax0 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-spTwnldax0 .navbar-dropdown {
  position: fixed;
}
.cid-spTwnldax0 a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-spTwnldax0 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-spTwnldax0 .right-menu,
.cid-spTwnldax0 .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-spTwnldax0 .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-spTwnldax0 .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-spTwnldax0 .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-spTwnldax0 .menu-top {
  text-align: center;
  width: 100%;
  background-color: #fe525b;
  padding: .5rem 0;
}
.cid-spTwnldax0 .full-link {
  width: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-spTwnldax0 .card-wrapper {
  z-index: 3;
}
.cid-spTwnldax0 .popup-btn.card-wrapper {
  z-index: 1 !important;
}
@media (max-width: 991px) {
  .cid-spTwnldax0 .navbar-collapse {
    padding-top: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-spTwnldax0 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-spTx3WFAeH {
  background-image: url("../../../assets/images/background4.jpg");
}
@media (max-width: 768px) {
  .cid-spTx3WFAeH .mbr-text,
  .cid-spTx3WFAeH .mbr-section-subtitle,
  .cid-spTx3WFAeH .mbr-section-title {
    text-align: center !important;
  }
}
.cid-sqJDNYyVhA {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #073b4c;
}
.cid-sqJDNYyVhA .media-container-column .btn-bgr {
  z-index: 0;
}
.cid-sqJDNYyVhA .mbr-overlay {
  background: linear-gradient(#d6173f -10%, #00113e 75%);
}
.cid-sqPjqkmZMY {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/mbr-1920x1279.jpg");
}
.cid-sqPjqkmZMY .mbr-section-title {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #232323;
  text-align: center;
}
.cid-sqPjqkmZMY .nav {
  border: none;
}
.cid-sqPjqkmZMY .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sqPjqkmZMY .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  padding: 1rem 3rem;
  margin: 0px -0.5px 1rem -0.5px;
  transition: all .5s;
  border-radius: 0px !important;
  border-bottom: 1px solid #232323;
}
.cid-sqPjqkmZMY .nav-tabs .nav-link:hover {
  border: 1px solid #232323;
  background-color: #f27d7a;
  color: #ffffff;
}
.cid-sqPjqkmZMY .nav-tabs .nav-link.active {
  border: 1px solid #232323;
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  background: #f27d7a;
}
.cid-sqPjqkmZMY P {
  text-align: center;
}
.cid-sq4iCn8NRg {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sq4iCn8NRg .mbr-section-title {
  font-weight: bold;
  letter-spacing: 0.1em;
}
.cid-sq4iCn8NRg .section-content-title {
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.03em;
}
.cid-sq4iCn8NRg .section-content-text {
  letter-spacing: 0.03em;
}
.cid-sq4iCn8NRg .progressbar-title p {
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.cid-sq4iCn8NRg .progress {
  width: 100%;
  height: 25px;
}
.cid-sq4iCn8NRg .progress-bar {
  height: 25px;
  background-color: #3e4edc;
}
.cid-sq4iCn8NRg .title-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-sq4iCn8NRg .progressbar-number {
  display: inline-block;
}
.cid-sq4iCn8NRg .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-sq4iCn8NRg .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-sq4iCn8NRg .progress_value {
  position: relative;
}
.cid-sq4iCn8NRg progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-sq4iCn8NRg progress::-webkit-progress-value {
  background: #3e4edc;
}
.cid-sq4iCn8NRg progress[value]::-moz-progress-bar {
  background: #3e4edc;
}
.cid-sq4iCn8NRg progress::-ms-fill {
  background: #3e4edc;
}
.cid-sq4iCn8NRg .progress1 .progressbar-number:before {
  content: '100';
}
.cid-sq4iCn8NRg .progress2 .progressbar-number:before {
  content: '63';
}
.cid-sq4iCn8NRg .progress3 .progressbar-number:before {
  content: '41';
}
.cid-sq4iCn8NRg .progress4 .progressbar-number:before {
  content: '28';
}
.cid-sq4iCn8NRg .progress5 .progressbar-number:before {
  content: '10';
}
.cid-sq4iCn8NRg .progress-bar-1 {
  width: 100%;
}
.cid-sq4iCn8NRg .progress-bar-2 {
  width: 63%;
}
.cid-sq4iCn8NRg .progress-bar-3 {
  width: 41%;
}
.cid-sq4iCn8NRg .progress-bar-4 {
  width: 28%;
}
.cid-sq4iCn8NRg .progress-bar-5 {
  width: 10%;
}
.cid-sqOWN35t2h {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #4284df;
}
.cid-sqOWN35t2h h2,
.cid-sqOWN35t2h h3,
.cid-sqOWN35t2h h4,
.cid-sqOWN35t2h p {
  color: #ffffff;
}
.cid-sqOWN35t2h .mbr-overlay {
  z-index: -1;
}
.cid-sqOWN35t2h .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-sqOWN35t2h .form-control {
  margin-bottom: 15px;
  padding: 1.07em 1.07em;
}
.cid-sqOWN35t2h .subtext {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.cid-sqOWN35t2h .media-container-row {
  -webkit-align-items: center;
  align-items: center;
}
.cid-sqOWN35t2h .mbr-text {
  color: #767676;
}
.cid-sqOWN35t2h .form-block {
  padding: 3rem;
  position: relative;
}
.cid-sqOWN35t2h .form-block .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c1616;
  opacity: 0.5;
  z-index: 0;
}
.cid-sqOWN35t2h .form-block .form-wrap {
  position: relative;
  z-index: 1;
}
.cid-sqOWN35t2h a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-sqOWN35t2h .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-sqOWN35t2h .input-group-btn {
  display: block;
  text-align: center;
}
.cid-sqOWN35t2h textarea.form-control {
  resize: none;
}
@media (min-width: 768px) {
  .cid-sqOWN35t2h .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-sqOWN35t2h .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-sqOWN35t2h .google-map {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sqOWN35t2h h2 {
    padding-top: 2rem;
  }
}
@media (max-width: 499px) {
  .cid-sqOWN35t2h .block-content {
    padding: 0;
  }
  .cid-sqOWN35t2h .form-block {
    padding: 1rem;
  }
}
.cid-spTyS1vOte {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #36404c;
}
.cid-spTyS1vOte .mbr-flex {
  display: flex;
  justify-content: flex-end;
}
.cid-spTyS1vOte section {
  position: relative;
}
.cid-spTyS1vOte h4 {
  margin: 0;
}
.cid-spTyS1vOte a {
  font-weight: 300;
}
.cid-spTyS1vOte .row {
  align-items: center;
}
.cid-spTyS1vOte .item {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
}
.cid-spTyS1vOte .item h4 {
  padding-left: 10px;
  margin: 0;
}
.cid-spTyS1vOte .img1 {
  color: #ffffff;
}
.cid-spTyS1vOte .card-img {
  width: auto;
}
@media (max-width: 992px) {
  .cid-spTyS1vOte .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-spTyS1vOte .align-left,
  .cid-spTyS1vOte .align-right {
    text-align: center;
  }
  .cid-spTyS1vOte .mbr-flex {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-spTyS1vOte .mbr-flex {
    flex-direction: column;
    align-items: center;
  }
  .cid-spTyS1vOte .item {
    padding-bottom: 0.5rem;
  }
}
.cid-spTyS1vOte .item-title {
  color: #c1c1c1;
}
.cid-spTyS1vOte H4 {
  color: #c1c1c1;
}
